[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
mock = "*"

[packages]
flywheel-sdk = "~=10.6.1"
flywheel-migration = {editable = true,git = "https://gitlab.com/flywheel-io/public/migration-toolkit.git",ref = "8ab302feb3d509f44ded3c81ad0e19a9108052dc"}
pyaml = "*"
joblib = "*"
pandas = "*"

[requires]
python_version = "3.8"
