[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
pipenv-setup = "*"
pylint = "*"
mock = "*"
flywheel-deid-export = {editable = true,path = "."}
v = {editable = true,version = "*"}

[packages]
flywheel-sdk = "~=11.0"
flywheel-migration = {editable = true,git = "https://gitlab.com/flywheel-io/public/migration-toolkit.git",ref = "b72166f71d74592c703e592e9bb68d75929b9a07"}
pyaml = "*"
joblib = "*"
pandas = "*"
dotty-dict = "*"

[requires]
python_version = "3.8"
